<%= render 'customers/list', cutomer: @customer %>
  <body>
      <div class="container">
        <div class="header"></div>

        <div class="col-xs-3">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th>ジャンル検索</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ケーキ</th>
              </tr>
              <tr>
                <th>焼き菓子</th>
              </tr>
              <tr>
                <th>プリン</th>
              </tr>
              <tr>
                <th>キャンディ</th>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="col-xs-9">
          <div style="text-align:center">
            <img src="img/top_image.jpg" width="300px" height="300px" border="4px">

          <p class="main-visual-text">
            ようこそ、NaganoCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
        </div>

        <div class="bottom">bottom</div>

      </div>

  </body>
</html>