<%= render 'customers/list', customer: @customer %>

<div class="row">

	<div class="col-xs-3">
		<%= render 'items/category.search', categories: @categories %>

	</div>

	<div class="col-xs-4">
	</div>

	<div class="col-xs-5">


	</div>
</div>
