<%= render 'admins/list' %>
<div class="conteiner">
	<div class="row">
		<div class="title">
			<h3 style="width: 160px;text-align: center;margin-top: 50px;margin-left: 30px">管理者画面</h3>
			<h4 style="width: 200px;text-align: center;margin-top: 50px;margin-left: 30px">本日の注文件数は
				<%= @counter %>件</h4>
		</div>
	</div>
</div>